services:
  nginx:
    image: nginx:1.22-alpine
    ports:
      - "8080:80"
    volumes:
      - ./code:/code
      - ./nginx.conf:/etc/nginx/nginx.conf
    php:
      image: php:8.3-fpm-alpine
      volumes:
        - ./code:/code
